<div class="container-fluid">
  <div class="row">
    <div class="col-12 my-3">
      <h2>Tasks Manager</h2>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>

<footer class="page-footer font-small blue">
  <div class="footer-copyright text-center py-3">Nguyen Bao trung - MealSuite Coding Assignment. 
    <a target="_blank" href="https://github.com/ctm-event/mealsuite-coding-assignment">Gitgub Repo</a>
  </div>
</footer>

<div class="app__backdrop" *ngIf="loading$ | async">
  <div class="spinner-border app__spinner" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
